@import url("https://fonts.googleapis.com/css2?family=Roboto&family=Ubuntu&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Dancing+Script&family=Rubik+Burned&family=Silkscreen&display=swap");


.label-image {
    margin: 0 auto;
    width: 330px;
    height: 100px;
    margin-top: 5vh;
}


form {
    position: relative;
    top: 5vh;
    align-items: center;
    justify-content: center;
    min-height: 350px;
    max-height: 1300px;
    width: 700px;
    border-radius: 15px;
    background-color:#4883ff; /*#2196f3; */
    padding: 5px 30px 30px 30px;
    margin: 0 auto;
    box-sizing: border-box;
}

.form-hint {
    font-family: Ubuntu;
    display: block;
    font-size: 20px;
    font-weight: 700;
    margin-bottom: 5px;
    margin-top: 15px;
    color: #fff;
}

.field,
.select {
    box-sizing: border-box;
    width: 640px;
    border: 1px solid #fff;
    padding: 15px 20px;
    font-family: "Times New Roman", Times, serif;
    font-size: 20px;
}

.textarea {
    min-width: 640px;
    max-width: 640px;
    min-height: 150px;
    max-height: 300px;
}

.button {
    display: block;
    align-items: center;
    justify-content: center;
    border: 1px;
    border-color: #e74c3c;
    border-radius: 10px;
    padding: 15px 55px;
    color: #fff;
    background-color: #e74c3c;
    font-family: inherit;
    font-size: 16px;
    cursor: pointer;
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
}

.checkbox {
    display: flex;
    align-items: center;
    margin-left: 3vh;
    --first-color: #fff;
    --second-color: #28b78d;
    --width: 50px;
    --height: 30px;
    --offset: 5px;
    --duration: 0.3s;
    cursor: pointer;
}

.checkbox:hover {
    filter: brightness(1.2);
}

.checkbox__text {
    font-family: Ubuntu;
    font-size: 18px;
    margin-right: 20px;
}

.checkbox__input {
    display: none;
}

.checkbox__input:checked~.checkbox__div {
    background-color: var(--second-color);
}

.checkbox__input:checked~.checkbox__div::before {
    background-color: var(--first-color);
    left: calc(var(--width) - var(--height) + var(--offset));
}

.checkbox__div {
    position: relative;
    width: var(--width);
    height: var(--height);
    border-radius: var(--width);
    background-color: var(--first-color);
    transition: var(--duration);
}

.checkbox__div::before {
    content: ' ';
    position: absolute;
    top: var(--offset);
    left: var(--offset);
    width: calc(var(--height) - 2 * var(--offset));
    height: calc(var(--height) - 2 * var(--offset));
    background-color: var(--second-color);
    border-radius: 50%;
    transition: var(--duration);
}

.select {
    display: block;
    box-sizing: border-box;
    width: 640px;
    margin: 0;
    border: 1px solid #cbd1d4;
    font-family: inherit;
    font-size: 20px;
    color: #333;
}